@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:400,400i,700");
#document-type-collapser span, .result-container span {
  color: #000000;
  padding-left: 5px;
  padding-right: 5px; }

.search-button, .lang-buttons button, .paginator-button button {
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 0;
  background-color: #97bf0d;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  border: 0; }
  .search-button:hover, .lang-buttons button:hover, .paginator-button button:hover {
    background-color: #f7931e; }

.document-types span, .document-types a, .blue-border {
  border-width: 1px;
  color: #29abe2;
  border-style: solid;
  padding: 2px; }

.dark_grey_background {
  background-color: #4d4d4d; }

body {
  background-color: #4d4d4d;
  font-family: "Roboto", sans-serif; }

.fix-height {
  height: 193px;
  background-color: #4d4d4d; }
  .fix-height div {
    background-color: #4d4d4d; }

.row-content {
  background-color: #f2f2f2; }

#main-content {
  border-top-color: #4d4d4d;
  border-right: 32px solid #4d4d4d;
  border-bottom-color: #4d4d4d;
  border-left: 32px solid #f2f2f2;
  background-color: #f2f2f2; }

#number-document, #result-sorting {
  border-color: #4d4d4d;
  border-right: 4px solid;
  border-left-width: 4px; }

#paginator {
  border-bottom: 6px solid #4d4d4d;
  padding-top: 10px; }

#avaibility, #publication-year, #types-documents {
  border-bottom: 3px solid #4d4d4d;
  margin-right: 32px; }

.right-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #29abe2;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0; }
  .right-title input {
    color: #f7931e; }
  .right-title label {
    font-size: 14px;
    font-weight: normal; }

.search-panel h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  padding-top: 10px; }
.search-panel #number-document {
  padding-left: 0; }
  .search-panel #number-document h3 {
    font-weight: normal; }

.select {
  position: relative;
  display: inline-block;
  font-size: 14px; }
  .select select {
    height: 30px;
    padding-right: 20px;
    outline: none;
    border: 1px solid #f7931e;
    -moz-appearance: none;
    width: max-content;
    width: -moz-max-content; }
  .select:after {
    content: '';
    position: absolute;
    right: 3px;
    top: 11px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #f7931e;
    pointer-events: none; }

.result-count {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000; }

/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border: 1px solid #f7931e; }

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ffffff; }

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #f7931e; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#document-type-collapser a {
  font-style: italic;
  font-size: 14px;
  color: #97bf0d; }
  #document-type-collapser a:hover {
    color: #f7931e; }
  #document-type-collapser a i {
    font-size: large; }

.nusl-jumbotron-title {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 42px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 8px; }

#inputSearch {
  padding-right: 0; }
  #inputSearch input {
    border-radius: 0;
    height: calc(2.75rem + 2px); }

.paginator-button button {
  font-size: 14px; }
.paginator-button span {
  text-align: right;
  padding-top: 10px;
  font-weight: bold; }

.search-form {
  margin-right: 0 !important; }

.result-container h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #000000;
  padding-bottom: 10px;
  padding-top: 15px; }
.result-container div {
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold; }
.result-container .origin {
  color: #97bf0d; }
.result-container .origin-short {
  text-transform: uppercase; }
.result-container .content {
  color: #000000;
  font-weight: normal;
  padding-right: 10%; }
.result-container a {
  color: #97bf0d; }
  .result-container a:hover {
    color: #f7931e; }

.search-result:not(:last-child) {
  border-bottom: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.search-result .col {
  padding-left: 20px; }
.search-result .no-open {
  padding-left: 35px; }

.title-with-img div {
  padding-left: 17px; }

.item-info {
  line-height: 0.3;
  padding-left: 0px; }
  .item-info div {
    padding-left: 0px; }

.document-types, .document-types a {
  color: #29abe2;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

#right-title-document-types {
  padding-bottom: 0; }

.document-types li {
  margin-top: 3px; }
.document-types a:hover {
  color: #f7931e; }
.document-types ul:first-of-type {
  font-weight: bold;
  list-style: none;
  padding-left: 0; }
  .document-types ul:first-of-type li:before {
    content: '\f0da';
    font-family: "Font Awesome 5 Free", serif;
    font-size: large;
    color: #f7931e;
    padding-right: 5px; }
  .document-types ul:first-of-type li.arrow-down:before {
    content: '\f0d7';
    font-family: "Font Awesome 5 Free", serif;
    font-size: large;
    color: #f7931e;
    padding-right: 5px; }
  .document-types ul:first-of-type li ul {
    padding-left: 20px; }
    .document-types ul:first-of-type li ul li:before {
      content: normal; }
    .document-types ul:first-of-type li ul li {
      font-weight: normal; }

.right-content {
  background-color: #f2f2f2; }

.collapsed {
  display: none; }

.decollapsed {
  display: block; }

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
.year-lang:before {
  content: "";
  font-family: "Font Awesome 5 Free", serif;
  color: #29abe2;
  padding-right: 5px; }

.origin-short:before {
  content: "";
  font-family: "Font Awesome 5 Free", serif;
  color: #29abe2;
  padding-right: 5px; }

.keywords:before {
  content: "";
  font-family: "Font Awesome 5 Free", serif;
  color: #29abe2;
  padding-right: 5px; }

.origin {
  padding-left: 20px; }

.OA-icon-title {
  padding-right: 5px; }

.nusl-logo {
  background-color: #4d4d4d;
  border: none; }

.list-inverse a {
  color: #f2f2f2;
  background-color: #29abe2; }

.bigger-search {
  font-size: 28px; }

.under-title {
  font-size: 14px; }

.avai-title {
  padding-bottom: 0; }

.remove-arrow ul:first-of-type li:before {
  content: normal; }

.front-breed-8 {
  margin-left: -8px; }

.color-green {
  color: #97bf0d; }

.background-color-grey {
  background-color: #4d4d4d; }

.inline-block {
  display: inline-block; }

.front-simple-text {
  color: #f2f2f2;
  font-size: 14px; }

/*# sourceMappingURL=nusl_vyhledavac.css.map */
