<div id="main-content" class="col-8">

            <div class="row search-panel">
                <div id="number-document" class="col ">
                    <h3>
                        Počet nalezených dokumentů
                    </h3>
                    <div class="result-count">
                        102345
                    </div>
                </div>
                <div id="result-sorting" class="col">
                    <h3>
                        Řazení výsledků
                    </h3>

                    <div class="select">
                        <select id="sort-type">
                            <option value="newest">Od nejnovějších</option>
                        </select>
                    </div>

                </div>
                <div class="col">
                    <h3>
                        Počet výsledků na stránku
                    </h3>
                    <div class="select">
                        <select id="result-number">
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="paginator" class="row">
                <div class="col pl-0">
                    <div class="btn-toolbar pr-5 paginator-button pb-1" role="toolbar"
                         aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">1</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <span>...</span>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary">11</button>
                        </div>
                    </div>
                </div>
            </div>

            {% for item in results %}
                <div class="row search-result">
                <div class="col">
                    <!-- Search result -->
                    <div class="result-container title-with-img">

                        <h2>
                            <img src="static/img/OA-icon-10px.png">
                            {{ item.title }}
                        </h2>

                        <div class="item-info">
                            <div>
                                <p class="year-lang">
                                    <a href="">{{ item.year}}</a>
                                    <span>|</span>
                                    <a href="">{{ item.lang }}</a>
                                </p>
                            </div>
                            <div>
                                <p class="origin">
                                    <a href="">{{ item.origin }}</a>
                                    <span>|</span>
                                    <a href="">{{ item.originfull }}</a>
                                </p>
                            </div>
                            <div>
                                <p class="origin-short">
                                    <a href="">{{ item.originshort }}</a>
                                </p>
                            </div>
                            <div>
                                <p class="keywords">
                                    {% for keyword in item.keywords %}
                                        <a href="">{{ keyword }}</a>
                                        <span>|</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        <div>
                            <p class="content">
                                {{ item.content }}
                                <span class="origin"><a href="">> zobrazit více</a></span>
                            </p>

                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>