<div class="col-4 right-content">
            <div id="avaibility" class="row">
                <div class="col">
                    <h2 class="right-title avai-title">
                        Dostupnost

                    </h2>
                    <span>
                    <label class="check-container">
                        <span class="blue-border under-title">
                            Zobrazit jen volne dostupné online&nbsp;&nbsp;&nbsp;<img class="OA-icon-title" src="static/img/OA-icon-10px.png">
                        </span>

                    </label>
                </span>
                </div>
            </div>

            <div id="publication-year" class="row">
                <div class="col">
                    <h2 class="right-title">
                        Rok vydání
                    </h2>
                </div>
            </div>

            <div id="types-documents" class="row">
                <div class="col">
                    <h2 id="right-title-document-types" class="right-title">
                        Typy dokumentů
                    </h2>
                    <div id="document-type-collapser">
                        <a id="collaps">Sbalit vše&nbsp;<i class="fas fa-caret-down"></i></a>
                        <span>/</span>
                        <a id="decollaps">Rozbalit vše&nbsp;<i class="fas fa-caret-right"></i></a>
                    </div>
                    <div class="document-types">
                        <ul>
                            {% for item in documenttype %}
                                <li>
                                    <span>{{ item.title }} ({{ item.count }})</span>
                                </li>
                            {% if item.children|length > 0 %}
                                <ul class="collapsed">
                                    {% for childrenitem in item.children %}
                                        <li class="list-inverse">
                                            <a href="">{{ childrenitem.title }} {{ childrenitem.count }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>

            <div id="institucion" class="row">
                <div class="col">
                    <h2 class="right-title">
                        Instituce
                    </h2>
                </div>
            </div>
        </div>