@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:400,400i,700');

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$roboto-font: 'Roboto', sans-serif;
$roboto-condensed-font: 'Roboto Condensed', sans-serif;

%delimiter {
  color: $black00;
  padding-left: 5px;
  padding-right: 5px;
}

%buttons {
  font-family: $roboto-condensed-font;
  border-radius: 0;
  background-color: $green;
  color: $whiteFF;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  &:hover {
    background-color: $orange;
  }
}
%blue-border {
  border-width: 1px;
  color: $blue;
  border-style: solid;
  padding: 2px;
}
.dark_grey_background {
  background-color: $dark_grey;
}
body {
  background-color: $body-background;
  font-family: $roboto-font;
}
.fix-height {
  height: 193px;
  background-color: $border-color;
  div {
    background-color: $dark_grey;
  }

}

.row-content {
  background-color: $whiteF2;
}

.top-border {
  border-top: 7px $border-color solid;
}

#main-content {
  border-top-color: $border-color;
  border-right: 32px solid $border-color;
  border-bottom-color: $border-color;
  border-left: 32px solid $main-body-background;
  background-color: $main-body-background;
}

#number-document, #result-sorting {
  border-color: $border-color;
  border-right: 4px solid;
  border-left-width: 4px;
}

#paginator {
  border-bottom: 6px solid $border-color;
  padding-top: 10px;
}

#avaibility, #publication-year, #types-documents {
  border-bottom: 3px solid $border-color;
  margin-right: 32px;

}

.right-title {
  font-family: $roboto-font;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: $blue;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  input {
    color: $orange;
  }
  label {
    font-size: 14px;
    font-weight: normal;
  }
}

.search-panel {
  color: $border-color;
  h3 {
    font-family: $roboto-condensed-font;
    font-size: 14px;
    font-weight: bold;
    color: $result-text-color;
    padding-top: 10px;
  }
  #number-document {
    h3 {
      font-weight: normal;
    }
    padding-left: 0;
  }
}

.select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  select {
    height: 30px;
    padding-right: 20px;
    outline: none;
    border: 1px solid $orange;
    -moz-appearance: none;
    width: max-content;
    width: -moz-max-content;
  }
  &:after {
    content: '';
    position: absolute;
    right: 3px;
    top: 11px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $orange;
    pointer-events: none;
  }
}

.result-count {
  font-family: $roboto-condensed-font;
  font-size: 14px;
  font-weight: bold;
  color: $result-text-color;
}

/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: $whiteFF;
  border: 1px solid $orange;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: $whiteFF;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: $orange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid $whiteFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#document-type-collapser {
  a {
    font-style: italic;
    font-size: 14px;
    color: $green;
    &:hover {
      color: $orange;
    }
    i {
      font-size: large;
    }
  }
  span {
    @extend %delimiter
  }
}

.nusl-jumbotron-title {
  color: $whiteFF;
  font-family: $roboto-condensed-font;
  font-size: 42px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 8px;
}

#inputSearch {
  padding-right: 0;
  input {
    border-radius: 0;
    height: calc(2.75rem + 2px);
  }
}

.search-button {
  @extend %buttons;
}

.lang-buttons {
  button {
    @extend %buttons;
  }
}

.paginator-button {
  button {
    @extend %buttons;
    font-size: 14px;
  }
  span {
    text-align: right;
    padding-top: 10px;
    font-weight: bold;
    color: $result-text-color;
  }
}

.search-form {
  margin-right: 0 !important;
}

.result-container {
  h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: $roboto-font;
    color: $result-text-color;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  div {
    font-size: 14px;
    font-family: $roboto-condensed-font;
    font-weight: bold;
  }
  span {
    @extend %delimiter
  }
  .origin {
    color: $green;
  }
  .origin-short {
    text-transform: uppercase;
  }
  .content {
    color: $result-text-color;
    font-weight: normal;
    padding-right: 10%;
  }
  a {
    color: $green;
    &:hover {
      color: $orange;
    }
  }
}

.search-result:not(:last-child) {
  border-bottom: $grey;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.search-result {
  .col {
    padding-left: 20px;
  }
  .no-open {
    padding-left: 35px;
  }
}
.title-with-img {
  div {
    padding-left: 17px;
  }
}
.item-info {
  line-height: 0.3;
  padding-left: 0px;
  div {
    padding-left: 0px;
    p {
      span {
        color: $result-text-color;
      }
    }
  }
}
%right-links {
  color: $blue;
  font-family: $roboto-font;
  font-size: 14px;
}
#right-title-document-types {
  padding-bottom: 0;
}
.document-types {
  li {
    margin-top: 3px;
  }
  span {
    @extend %blue-border;
  }
  @extend %right-links;
  a {
    @extend %right-links;
    @extend %blue-border;
    &:hover {
      color: $orange;
    }
  }
  ul:first-of-type{
    font-weight: bold;
    list-style: none;
    padding-left: 0;

    li:before {
      content: '\f0da';
      font-family: "Font Awesome 5 Free", serif;
      font-size: large;
      color: $orange;
      padding-right: 5px;
    }
    li.arrow-down:before {
      content: '\f0d7';
      font-family: "Font Awesome 5 Free", serif;
      font-size: large;
      color: $orange;
      padding-right: 5px;
    }
    li {
      ul {
        padding-left: 20px;
        li:before {
          content: normal;
        }
        li {
          font-weight: normal;
        }
      }
    }
  }
}
.right-content {
  background-color: $right-content-backgroung;
}

.collapsed {
  display: none;
  //opacity: 0;
  //transition: visibility 0s, opacity 0.5s linear;
}
.decollapsed {
  display: block;
  //-webkit-animation: slide-down .3s ease-out;
  //-moz-animation: slide-down .3s ease-out;

}
@-webkit-keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateY(-100%); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
  0% { opacity: 0; -moz-transform: translateY(-100%); }
  100% { opacity: 1; -moz-transform: translateY(0); }
}

@mixin item-icon ($unicode) {
  &:before {
    content: $unicode;
    font-family: "Font Awesome 5 Free", serif;
    color: $blue;
    padding-right: 5px;
  }
}

.year-lang {
  @include item-icon('\f073')
}
.origin-short {
  @include item-icon('\f007')
}
.keywords {
  @include item-icon('\f02c')
}
.origin {
  padding-left: 20px;
}
.OA-icon-title {
  padding-right: 5px;
}
.nusl-logo {
  background-color: $dark_grey;
  border: none;
}
.blue-border {
  @extend %blue-border;
}

.list-inverse {
  a {
    color: $whiteF2;
    background-color: $blue;
  }
}
.bigger-search {
  font-size: 28px;
}
.under-title {
  font-size: 14px;
}
.avai-title {
  padding-bottom: 0;
}
.remove-arrow ul:first-of-type li:before {
  content: normal;
}
.front-breed-8 {
  margin-left: -8px;
}
.color-green {
  color: $green;
}
.background-color-grey {
  background-color: $dark_grey;
}
.inline-block {
  display: inline-block;
}
.front-simple-text {
  color: $whiteF2;
  font-size: 14px;
}
