/* 
BARVY
color="#000000"
color="#212121"
color="#cccccc"
color="#f2f2f2"
color="#ffffff"

zelena
color="#97bf0d"

svetla zelena
color="#c3ed14"

oranzova
color="#f7931e"

modra
color="#29abe2"

//////
svetla verze

tm. zelena
color="#8bb00c"

tmave seda
color="#4d4d4d"

seda
color="#808080" */

$black00: #000000;
$black21: #212121;
$whiteCC: #cccccc;
$whiteF2: #f2f2f2;
$whiteFF: #ffffff;

$green: #97bf0d;

//svetla zelena
$light-green: #c3ed14;

//oranzova
$orange: #f7931e;

//modra
$blue: #29abe2;

//svetla verze

//tm. zelena
$dark-green: #8bb00c;

//tmave seda
$dark_grey: #4d4d4d;
$dark_grey: #212121;
//seda
$grey: #808080;

$right_content_backgroung: $black00;

$body-background: $black21;
$result-text-color: $whiteFF;
$border-color: $whiteCC;

$main-body-background: $black21;

@import 'nusl_vyhledavac'