$black00: #000000;
$black21: #212121;
$whiteCC: #cccccc;
$whiteF2: #f2f2f2;
$whiteFF: #ffffff;

$green: #97bf0d;

//svetla zelena
$light-green: #c3ed14;

//oranzova
$orange: #f7931e;

//modra
$blue: #29abe2;

//svetla verze

//tm. zelena
$dark-green: #8bb00c;

//tmave seda
$dark_grey: #4d4d4d;

//seda
$grey: #808080;

$right_content_backgroung: $whiteF2;

$body-background: $dark_grey;

$border-color: $dark_grey;

$result-text-color: $black21;

$main-body-background: $whiteF2;

@import 'nusl_vyhledavac';