<div class="fix-height">
        <div class="row fix-height">
            <div class="col">
                <div class="jumbotron jumbotron-fluid pt-0 pb-1 mb-0 fix-height">
                    <div class="container">
                        <div class="row row-content justify-content-end">
                            <div class="btn-toolbar pr-5 lang-buttons" role="toolbar"
                                 aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary">CZ</button>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-secondary">EN</button>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="Third group">
                                    <button type="button" class="btn btn-secondary">o webu</button>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="Third group">
                                    <button type="button" class="btn btn-secondary" id="dark">Light</button>
                                </div>
                                <div class="btn-group" role="group" aria-label="Third group">
                                    <button type="button" class="btn btn-secondary" id="light">dark</button>
                                </div>
                            </div>
                        </div>
                        <div class="row row-content">
                            <div class="col-3">
                                <img class="img-fluid img-thumbnail nusl-logo" src="static/img/logo-nusl-cs-new.png">
                            </div>
                            <div class="col">
                                <h1 class="display-4  nusl-jumbotron-title">vyhledávač</h1>
                                <form>
                                    <div class="form-group row">
                                        <div class="col-10" id="inputSearch">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="input-group-append ml-0 pl-0 col-2">
                                            <button class="btn btn-outline-secondary search-button" type="button">
                                                <i class="fas fa-search bigger-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>