
<div class="row">
        <div class="col-2"></div>
        <div class="col dark_grey_background">
            <div class="nusl-jumbotron-title">Vítejte ve vyhledávači služby <span class="color-green">NUŠL</span>.
            </div>
            <div class="front-simple-text">
                Více informací o službě: <span class="color-green">www.nusl.techlib.cz</span>
            </div>

        </div>
        <div class="col-2"></div>
    </div>