
<div class="row background-color-grey">

        <div class="col background-color-grey">
            <div class="pt-0 pb-1 background-color-grey">
                <div class="container background-color-grey">
                    <div class="row row-content justify-content-end background-color-grey">
                        <div class="btn-toolbar pr-5 lang-buttons background-color-grey" role="toolbar"
                             aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-secondary">CZ</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-secondary">EN</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button type="button" class="btn btn-secondary">o webu</button>
                            </div>
                        </div>
                    </div>
                    <div class="row row-content background-color-grey">
                        <div class="col-2">

                        </div>
                        <div class="col">
                            <div class="row front-breed pb-5">
                                <img class="img-fluid img-thumbnail nusl-logo front-breed-8" src="static/img/logo-nusl-cs.png">
                            </div>
                            <div class="row pb-3 w-100 inline-block">
                                <form>
                                    <div class="form-group row  w-100">
                                        <div class="col-10 front-breed-8  w-100" id="inputSearch">
                                            <input type="text" class="form-control w-100">
                                        </div>
                                        <div class="input-group-append ml-0 pl-0 col-2">
                                            <button class="btn btn-outline-secondary search-button" type="button">
                                                <i class="fas fa-search bigger-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
