
<div class="row row-content">
        <div class="col-2 dark_grey_background">
        </div>
        <!-- Right content -->
        <div class="col-6 right-content">
            <div class="row">
                <div class="col">
                    <div id="avaibility">

                        <span>
              <label class="check-container">
                <span class="blue-border under-title">
                  Plný text
                </span>

              </label>
            </span>

                    </div>

                    <div id="institucion" class="row">
                        <div class="col">
                            <h2 class="right-title">
                                Typ instituce
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h2 id="right-title-document-types" class="right-title">
                        Typy dokumentu
                    </h2>
                    <div class="document-types remove-arrow">
                        <ul>
                            {% for item in documenttype %}
                                <li>
                                    <span>{{ item.title }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>


        </div>
        <div class="col dark_grey_background">
        </div>
    </div>