<!DOCTYPE html>
<html lang="cs" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
{% include 'front/_head.html' %}
<body id="app">
<div class="container">
{% include 'front/_logo.html' %}
    {% include 'front/_main.html' %}
    {% include 'front/_footer.html' %}

</div>
<script src="static/js/nusl_app.js" type="application/javascript"></script>
</body>

</html>

