<!DOCTYPE html>
<html lang="cs" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
{% include 'index/_head.html' %}
<body id="app">
<div class="container">
    {% include 'index/_logo.html' %}
    {% include 'index/_main.html' %}
</div>
{% include 'index/_footer.html' %}
</body>

</html>
